* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

body {
  background-color: rgb(41, 41, 41);
  color: #fff;
}

.search-form {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form h2 {
  display: inline-block;
  font-size: 40px;
  color: #fff;
}

.search-form .cursor {
  width: 3px;
  height: 44px;
  background-color: #fff;
  animation-name: cursor;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  opacity: 1;
  margin-left: 20px;
  margin-right: 30px;
}

.search-form button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(250, 220, 74);
  font-size: 40px;
}

.search-form button:hover {
  color: rgb(245, 183, 68);
}

@keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: rgb(41, 41, 41);
  }
  100% {
    background-color: #fff;
  }
}

.info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #666;
}

.info-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.info-container h2 {
  color: rgb(250, 220, 74);
}

.info-container p {
  margin-top: 30px;
  line-height: 1.7;
}

.item-container {
  width: 50%;
  height: 200px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

li {
  display: flex;
}

.Litem {
  width: 100px;
  margin: 5px;
}

.Ritem {
  width: 100px;
  margin: 5px;
}

img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px #333;
}
