.searchResults {
  width: 280px;
}

.searchResults p {
  margin-bottom: 15px;
  line-height: 1.3333333;
}

.searchResults a {
  color: #d0abab;
  border-bottom: 1px solid #d0abab;
}

.searchResults a:hover {
  color: #cc8484;
  border-bottom: 1px solid #cc8484;
}
